@model WebApplication.Models.Produtos
@{

    ViewData["Title"] = "Cadastro de produtos";
}
@using (Html.BeginForm("insertProduto", "Home", FormMethod.Post, new { }))

{
    <h1>Cadastro de Produtos</h1>

    <div class="form-group">
        @Html.Label("Produto:")
        @Html.TextBoxFor(x => x.Produto, "", new { @class = "form-control", id = "produto", autocompleto = "off", autofocus = "true" })
    </div>
    <div class="form-group">
        @Html.Label("Preço:")
        @Html.TextBoxFor(x => x.preco, "", new { @class = "form-control", id = "preco", autocompleto = "off", autofocus = "true" })
    </div>
    <div class="form-group">
        @Html.Label("Sku:")
        @Html.TextBoxFor(x => x.sku, "", new { @class = "form-control", id = "sku", autocompleto = "off", autofocus = "true" })
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" id="Button" value="Cadastrar" />
    </div>
}