@model List<WebApplication.Models.Produtos>

@{
    ViewData["Title"] = "Home Page";

}


<head>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
</head>

<h1>Lista de Produto</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Produtos</th>
            <th scope="col">Preço</th>
            <th scope="col">Sku</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>


    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tbody id="Form">
                <tr>
                    <td>@Html.DisplayFor(modelItem => item._id, "", new { @class = "form-control", id = "iditem" }))</td>
                    <td>@Html.DisplayFor(modelItem => item.Produto, new { @class = "form-control", id = "produto" })</td>
                    <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sku)</td>
                    <td>
                        <button type="submit" id="delete" class="btn btn-primary" onclick="DeleteProduto()">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">Editar</button>
                    </td>
                    <td>
                        @Html.ActionLink("EditarProdutos", "EditarProdutos", new { _id = item._id, Produtos = item.Produto, Preco = item.Preco, Sku = item.Sku })
                    </td>
                    <td>
                        @*@Html.ActionLink("Inactive", "Delete", new { id = item.id})*@

                    </td>
                </tr>
            </tbody>
            

        }
    }


</table>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-5" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Atualizar Produtos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>


                @Html.Label("Produto:")
                @Html.TextBox("frmUserName", "")
                <br />

                @Html.Label("Preço:")
                @Html.TextBox("frmUserName", "")
                <br />

                @Html.Label("Sku:")
                @Html.TextBox("frmUserName", "")



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>

<script>

    var text = document.getElementById('abc');
    console.log(text.value);
    

    function DeleteProduto() {

        var id = document.getElementById('iditem');
        console.log(id);

            console.log(id);

            $.ajax({
                url: 'https://localhost:44372/api/values', // url
                type: 'DELETE', //POST GET DELETE PUT
                async: true,
                data: $(id),
                success: function (resp) {
                    console.log(resp);

                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("error: \n" + xhr.catch); // if the request return error
                }
            });

        }
             

    function teste() {
        alert("OPA");
    }

</script>
